body {
  background-color: #D2DAFF;
  text-align: center;
}

.white-box {
  background-color: hsl(0, 0%, 100%);
  width: 18rem;
  height: 25rem;
  padding-top: 0.85rem;
  padding-bottom: 1.25rem;
  margin: 9.375rem auto 0;
  border-radius: 15px;
}

.qr-code{
  text-align: center;
  height: 16.1rem;
  border-radius: 15px;
}
.para-1{
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
  color: #144272;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
.para-2{
  font-weight: 400;
  font-size: 15px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: #89A4C7;
}
